@model Agility.Models.Condutores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Condutores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Escola.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escola.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
